*{
    margin: 0;
}
.sec1{
    background-image: url(userfriendly.jpg);
    background-size: cover;
    
}
.coll1{
    background-color: rgba(247, 232, 211, 0.589);
}
.icn1{
    color: rgba(0, 0, 0, 0.76);
    /* position: absolute;
    bottom: 0%;
    left: 45%;
    transform: translateX(-56%);
    
     */
    
     
    
}

.link1{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.76);
    font-size:15px;

}
.king{
    /* position: relative; */
    
}

.icn1t{
   
    /* position: absolute;  
     top: 30%;   */
    /* left: 50%;
    transform: translateX(-50%); */
    
    
} 
.first{
    float: left;
}
.two{
    float: left;
margin-top: 13px;
}
/* .........................................section2...................................... */
/* .li1{
    text-decoration: none;
    color: black;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    line-height: 80px;
    padding: 0px 100px;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav ul li{
    display: inline-block;
    margin: 0px 15px;
    line-height: 80px   ;
}
nav ul li a{
    font-size: 17px;
    text-transform: uppercase;
} */
/* .............................................................. */
.logo1{
    text-decoration: none;
    /* font-size: 25px; */
    font-weight: bold;
    color: black;
}
.mm{
    margin: 0px 7px;
    font-size: 17px;
}
/* ....................................four.............................. */
.oo{
    text-align: justify;
}
.ifram0{
    text-align: end;
}
@media screen and (max-width: 450px) {
    /* CSS styles for devices with a screen width of 600 pixels or less */
    .ifram{
       width: 300px;
       height: 250px;
       text-align: center;
       margin:0px 50px;
    }
  }